.player {
  background: transparent url("../images/spr.png") no-repeat scroll center top;
  height: 162px;
  position: relative;
  width: 326px;
  z-index: 2;
}

.player__title,
.player__artist {
  font-family: verdana;
  left: 167px;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.player__title {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  top: 23px;
}

.player__artist {
  color: #eeeeee;
  font-size: 12px;
  top: 40px;
}

.player__playlist {
  background: transparent url("../images/spr.png") no-repeat scroll -274px -175px;
  cursor: pointer;
  height: 34px;
  left: 270px;
  position: absolute;
  top: 20px;
  width: 32px;
}

.player__playlist:hover {
  top: 21px;
}

.player__controls {
  cursor: pointer;
  height: 23px;
  left: 167px;
  position: absolute;
  top: 65px;
  width: 138px;
}

.player__controls .player__play,
.player__controls .player__pause,
.player__controls .player__rew,
.player__controls .player__fwd {
  background: transparent url("../images/spr.png") no-repeat scroll 0 0;
  float: left;
  height: 100%;
  width: 33%;
}

.player__controls .player__play {
  background-position: -8px -171px;
}

.player__controls .player__play:hover {
  background-position: -8px -170px;
}

.player__controls .player__pause {
  background-position: -8px -198px;
  display: none;
}

.player__controls .player__pause:hover {
  background-position: -8px -197px;
}

.player__controls .player__rew {
  background-position: -54px -171px;
}

.player__controls .player__rew:hover {
  background-position: -54px -170px;
}

.player__controls .player__fwd {
  background-position: -100px -171px;
}

.player__controls .player__fwd:hover {
  background-position: -100px -170px;
}

.player__controls .visible {
  display: block;
}

.hidden {
  display: none;
}

.player__volume {
  height: 11px;
  left: 186px;
  position: absolute;
  top: 96px;
  width: 112px;
}

.player__tracker {
  height: 15px;
  left: 20px;
  position: absolute;
  top: 126px;
  width: 285px;
}

.ui-slider-range {
  background: transparent url("../images/spr.png") no-repeat scroll 5px -222px;
  height: 100%;
  position: absolute;
  top: 0;
}

.ui-slider-handle {
  cursor: pointer;
  height: 10px;
  margin-left: -5px;
  position: absolute;
  top: 2px;
  width: 10px;
  z-index: 2;
}

.player__volume .ui-slider-handle {
  background: url("../images/spr.png") no-repeat scroll -188px transparent;
  height: 13px;
  width: 13px;
}

.playlist {
  background-color: #333333;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  list-style-type: none;
  margin: -10px 0 0 2px;
  padding-bottom: 10px;
  padding-top: 15px;
  position: relative;
  width: 282px;
  z-index: 1;
}

.playlist li {
  color: #eeeeee;
  cursor: pointer;
  margin: 0 0 5px 15px;
}

.playlist li.active {
  font-weight: bold;
}